@section Styles {
    <link type="text/css" href="/Admin/css/style.min.css" order="99999" />
}
<div id="AdminApplication">
    <admin-application :debug="@(Debug?"true":"false")"></admin-application>
</div>

@section Scripts {
    <script src="/Admin/js/module.umd.min.js" type="text/javascript" order="99999"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.6.2/tinymce.min.js" integrity="sha512-lLE5tUMZXmDmyGWI5KDlFemVusXiALcU1lPibL4xkPbPvuOXfXcdoeU3KBDxWp18/KOzrfKkgsscN1t9740ciA==" crossorigin="anonymous" referrerpolicy="no-referrer" order="-1"></script>
}