@section Styles {
    <link type="text/css" href="/Admin/css/style.min.css" />
}
<div id="AdminApplication">
    <admin-application></admin-application>
</div>

@section Scripts {
    <script src="/Admin/js/module.umd.min.js" type="text/javascript" order="99999"></script>
}