<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="true" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44396" />
				<environmentVariable name="COMPLUS_ForceENC" value="1" />
			</environmentVariables>
		</aspNetCore>
		<security>
			<authentication></authentication>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824"></requestLimits>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, X-Token" />
				<add name="Access-control-allow-credentials" value="true" />
				<add name="X-Content-Type-Options" value="NOSNIFF" />
				<add name="X-Permitted-Cross-Domain-Policies" value="master-only" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="CORS Preflight Anonymous Authentication" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
					</conditions>
					<action type="CustomResponse" statusCode="200" statusReason="Preflight" statusDescription="Preflight" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Set-Access-Control-Allow-Origin for known origins">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{HTTP_ORIGIN}" pattern=".*" />
					</conditions>
					<action type="Rewrite" value="{C:0}" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
	<system.web>
		<httpRuntime maxRequestLength="1048576" enableVersionHeader="false" />
	</system.web>
	<location path="mithril.webmanifest">
		<system.web>
			<authentication mode="None">
			</authentication>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
</configuration>